@import "section-welcome";
@import "img-stack";
@import "info";
@import "news";
@import "book";

.main-section {
  margin: 2rem auto;

  &-title {
    margin: 5rem auto 2rem;
    font-size: 2rem;
    text-align: center;
    color: $color1-blur;
    font-weight: 900;
    text-transform: uppercase;
  }
}