.logo { 
  @include flex(row, center, space-between);
  font-size: $font-size * 1.7;
  background-color: transparent;
  
  user-select: none;
  border-radius: 100px;

  &.trig {
    background-color: transparent;
  }

  .word-l {
    color: $color3;
  }

  .word-r {
    color: $color3;
  }

  &-img {
    font-family: $font-logo;
    padding: 7px 20px;
    border: 2px solid $color3;
    // padding: 3px 10px;
    border-radius: 100px;
  }
}