// color =============================
$color1: #b8422d;         //text color
$color1-blur: #b8422dce;  //hover color
$color2: #2a2a2a;         // background
$color2-blur: #2a2a2ad3;
$color2-blur2: #2a2a2ad5;
$color2-blur3: #2a2a2a86;
$color3: #fff;            //alt color
$color3-blur: #ffffffbe;
$bg-color: #34495e;
// size ==============================
$font-size: 15px;
$default-size: 1em;
$label-font-size: $default-size / 4;
$label-font-size-redo: $default-size * 4;
// font ==============================
$font:  Arial, Helvetica, sans-serif;
$font-logo: 'VNI-Cooper';
